<!DOCTYPE html>

{% extends "base.html" %}
{% block title %}Последние записи в сообществе {{ group }} {% endblock %}
{% block header %}Последние записи в сообществе {{ group }} {% endblock %}
{% block content %}
    <h2>{{ group.description }}</h2>
    <br>
    {% for post in page %}
    <h4>
            Автор: {{ post.author.get_full_name }}, дата публикации: {{ post.pub_date|date:"d M Y" }}
    </h4>
    <p> {{ post.text|linebreaksbr }}</p>
    {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    <br>
    {% if page.has_other_pages %}
        {% include "paginator.html" with items=page paginator=paginator %}
    {% endif %}
{% endblock %}
