<!DOCTYPE html>

{% extends "base.html" %}
{% block title %}Новая запись пользователя {{ user.username }} {% endblock %}
{% block header %}Новая запись пользователя {{ user.username }}  {% endblock %}
{% block content %}
{% load user_filters %}

<div class="row justify-content-center">
    <div class="col-md-8 p-5">
        <div class="card">
            <div class="card-header">Напишие о сегодняшнем дне что-нибудь интересное:</div>
            <div class="card-body">

                <form method="post">
                    {% csrf_token %}
                    {{ form.text }}<br>
                    {{ form.group }}<br>
                    <span> {{ error  }} </span>
                    <div class="col-md-6 offset-md-4">
                            <button type="submit" class="btn btn-primary">
                                Опубликовать запись
                            </button>
                    </div>
                </form>

            </div> <!-- card body -->
        </div> <!-- card -->
    </div> <!-- col -->
</div> <!-- row -->

{% endblock %}
