<!DOCTYPE html>
{% extends "base.html" %}

<!-- При редактировании editing=True, показываем страницу изменения записи,
в противном случае вызывается страница создания нового поста -->
{% block title %}
    {% if editing %}Редактирование записи № {{post_id }}
    {% else %} Новая запись пользователя {{ user.username }}
    {% endif %}
{% endblock %}

{% block header %}
    {% if editing %}Редактирование записи № {{post_id }}
    {% else %} Новая запись пользователя {{ user.username }}
    {% endif %}
{% endblock %}

{% block content %}
{% load user_filters %}
{% if editing %}
    <div class="row justify-content-center">
        <div class="col-md-8 p-5">
            <div class="card">
                <div class="card-header">Внесите изменения в запись:</div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.text }}<br>
                        Группа:<br>
                        {{ form.group }}<br>
                        Картинка:<br>
                        {{ form.image }}<br>
                        <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Сохранить изменения
                                </button>
                        </div>
                    </form>
                </div> <!-- card body -->
            </div> <!-- card -->
        </div> <!-- col -->
    </div> <!-- row -->
{% else %}
    <div class="row justify-content-center">
        <div class="col-md-8 p-5">
            <div class="card">
                <div class="card-header">Напишие о сегодняшнем дне что-нибудь интересное:</div>
                <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.text }}<br>
                        Выберите группу для публикации к записи (если хотети):<br>
                        {{ form.group }}<br>
                        Добавьте картинку к записи (если хотите):<br>
                        {{ form.image }}<br>
                        <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Опубликовать запись
                                </button>
                        </div>
                    </form>
                </div> <!-- card body -->
            </div> <!-- card -->
        </div> <!-- col -->
    </div> <!-- row -->
{% endif %}
{% endblock %}
