<!DOCTYPE html>

{% extends "base.html" %}
{% block title %}Персональная страница пользователя {{ author }} {% endblock %}
{% block header %}
{% if user == author %}
<span style="color:red">Ва</span>ша персональная страница
{% else %}
Персональная страница пользователя | <span style="color:red">Ya</span>tube
{% endif %}
{% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                    <div class="card">
                    {% if user == author %}
                        <div align="right"><span style="color:#e3f2fd">Потрясающе выглядишь. Выпрямь спину</span></div>
                    {% endif %}
                            <div class="card-body">
                                    <div class="h2">
                                        <!-- Имя автора -->
                                        {{ author.get_full_name }}
                                    </div>
                                    <div class="h3 text-muted">
                                         <!-- username автора -->
                                         @{{ author }}
                                    </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                            Подписчиков: XXX <br />
                                            Подписан: XXX
                                            </div>
                                    </li>
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                                <!-- Количество записей -->
                                                Записей: {{ total_posts }}
                                            </div>
                                    </li>
                            </ul>
                    </div>
            </div>

            <div class="col-md-9">

                <!-- Начало блока с отдельным постом -->
                    <div class="card mb-3 mt-1 shadow-sm">
                            <div class="card-body">
                                    <p class="card-text">
                                            <!-- Ссылка на страницу автора в атрибуте href; username автора в тексте ссылки -->
                                            <a href="/{{ author }}/"><strong class="d-block text-gray-dark">@{{ author }}</strong></a>
                                            <!-- Текст поста -->
                                            {{ last_post }}
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group ">
                                                    <!-- Ссылка на страницу записи в атрибуте href-->
                                                    {% if user.is_authenticated and total_posts != 0 %}
                                                    <a class="btn btn-sm text-muted" href="/{{ author }}/{{ total_posts }}/" role="button">Добавить комментарий</a>
                                                    {% endif %}
                                                    <!-- Ссылка на редактирование, показывается только автору записи -->
                                                    {% if user == author and total_posts != 0 %}
                                                    <a class="btn btn-sm text-muted" href="/{{ author }}/{{ total_posts }}/edit" role="button">Редактировать</a>
                                                    {% endif %}
                                            </div>
                                            <!-- Дата публикации  -->
                                            <small class="text-muted">{{ last_post.pub_date|date:"d E Y" }}</small>
                                    </div>
                            </div>
                    </div>
                <!-- Конец блока с отдельным постом -->

                <!-- Остальные посты -->
                {% if total_posts > 1 %} <h4>Предыдущие записи пользователя:</h4>{% endif %}
                <!-- Здесь постраничная навигация паджинатора -->
                <br>
                {% for post in page %}
                    <p> {{ post.text|linebreaksbr }} </p>
                    <div align="right">дата: {{ post.pub_date|date:"d.m.Y" }}</div>
                    {% if not forloop.last %}<hr>{% endif %}
                {% endfor %}
                <br>
                {% if page.has_other_pages %}
                    {% include "paginator.html" with items=page paginator=paginator %}
                {% endif %}

            </div>
    </div>
</main>


{% endblock %}
